.footer {
  padding: 4rem 1rem 5rem;

  &__inner {
    margin: 0 auto;
    max-width: 120rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
    @include media(small) {
      justify-content: start;
    }
  }

  &__general {
    max-width: 382px;
  }

  &__logo {
    width: 221px;
    height: 38px; 
  }

  &__desc {
    margin: 2rem 0 5rem;
    color: #6a6d72;
    font-family: Roboto;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
  }

  &__col {
    margin: 0 2rem 5rem;
  }

  &__title {
    margin-bottom: 3rem;
    color: #2f2f2f;
    font-family: Spinnaker;
    font-size: 2.1rem;
    font-weight: 400;
    line-height: 3rem;
    text-transform: uppercase;
  }

  &__follow {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: 4rem 1fr;
    align-items: center;
  
    width: 230px;
    height: 40px;
    background-color: #2f2f2f;
    color: #ffffff;
    font-family: Spinnaker;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 12.49px;
    text-transform: uppercase;

    & i {
      padding: 1rem;
      font-size: 2rem;
    }
  }

  &__copy {
    color: #6a6d72;
    font-family: Roboto;
    font-weight: 400;
    line-height: 2.4rem;
    font-size: 1.2rem;
    flex: 1 1 100%;
  }
}

.footer-nav {

  &__list {
    list-style: none;
  }

  &__link {
    color: #6a6d72;
    font-family: Roboto;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
  }
}
